<header>
    <div class="div-h">
        <h1 class="h-title">kelpoftruth.com</h1>
        <div class="mobile-menu">
            <button id="menu-btn" class="">
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </button>
        </div>
        <div class="h-mobile">
            <div class="h-nav">
                <div class="h-link">
                    <a href="https://kelpoftruth.com/">Top</a>
                </div>
                <div class="h-link">
                    <a href="https://kelpoftruth.com/articles/">Articles</a>
                </div>
                <div class="h-link">
                    <a href="https://kelpoftruth.com/tags/">Tags</a>
                </div>
                <div class="h-link">
                    <a href="https://kelpoftruth.com/contact/">Contact</a>
                </div>
            </div>
            <div class="h-right">
                <input class="material-symbols-outlined" type="checkbox" id="theme-change">
                <div class="search">
                    <label for="search" class="search-icon material-symbols-outlined">search</label>
                    <div class="search-box">
                        <input id="search" placeholder="Search" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>