@charset "utf-8";

.articles{
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.articles li{
    width: 90%;
    margin: calc(5% - 15px);
    border: 1px solid var(--b-3);
    padding: 30px;
    border-radius: 15px;
}
.articles li a{
    text-decoration: none;
}
.articles li a:hover{
    text-decoration: underline;
}
.articles li a h1{
    font-size: 25px;
    line-height: 1.5em;
    margin: 0;
    font-weight: bold;
    height: 3em;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.articles li a span{
    font-size: 18px;
}
@media screen and (max-width: 100svh){
    .articles li{
        width: 75svw;
    }
}
