@import "{{ site.theme }}";
		html,body{
			overflow-x: hidden;
			padding: 0px;
			margin: 0;
			font-size: 18px;
			font-family: HiraginoKakuGo;
		}
		body{
			scroll-behavior: smooth;
		}
		header{
			background: #fff;
			top: 0px;
			left: 0px;
			width: 100vw;
			height: 100px;
			position: fixed;
			border-bottom: 1px solid #292929;
			box-shadow: 0px 0px 5px #000;
			z-index: 9999999999;
		}
		header h1{
			line-height: 25px;
			user-select: none;
			webkit-user-select: none;
			font-family: 'Italianno', cursive;
			margin-left: 24px;
			font-size: 50px;
			display: inline-block;
		}
		header nav{
			display: inline-block;
		}
		header nav ul{
			margin-left: 72px;
			display: inline-flex;
			list-style: none;
		}
		header nav li{
			margin-left: 15px;
			margin-right: 15px;
		}
		header nav li a{
			text-decoration: none;
			transition: 250ms;
			color: #292929;
		}
		header nav li a:hover{
			color: #5c5c5c;
		}
		article{
			width: 60vw;
			margin-left: 20vw;
			padding-top: 100px;
		}
		:target{
			scroll-margin: 100px;
		}
		article a{
			color: #0118E5;
    		text-decoration: none;
		}
		article a:hover{
			color: #0D64FC;
		}
		@media screen and (max-width: 100vh) {
			header h1{
				display: block;
				text-align: center;
			}
			header nav{
				display: none;
			}
			article{
				margin-left: 10px;
				width: calc(100vw - 20px);
			}
		}
		@media screen and (max-height: 100vw) {
			.hbgrMenu{
				display: none;
			}
			.mobileNav{
				display: none;
			}
		}
		.mobileNav{
			border-bottom: 1px solid #292929;
			display: block;
			position: fixed;
			top: 100px;
			left: 0px;
			height: 0px;
			width: 100vw;
			background: rgba(255,255,255,0.8);
			backdrop-filter: blur(3px);
			overflow: hidden;
			transition: 500ms;
		}
		.mobileNav ul{
			list-style: none;
		}
		.mobileNav li{
			line-height: 4em;
			margin-left: -30px;
			display: block;
			text-align: center;
		}
		.mobileNav li a{
			color: #292929;
		}

		article tag{
			cursor: default;
			margin-right: 5px;
			background-color: #e3e3e3;
			padding: 4px;
			border-radius: 4px;
			font-size: 14px;
		}
		article tag a{
			color: #696969;
		}
		article h2{
			padding-bottom: 5px;
			border-bottom: 2px solid #d4d4d4;
		}
		article p{
			line-height: 36px;
		}
		article ul,article ol{
			line-height: 36px;
		}
		article code{
			font-family: 'Inconsolata', monospace;
			background-color: #f0f0f0;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 4px;
			padding-bottom: 4px;
			border-radius: 5px;
		}
		article pre code{
			font-family: 'Inconsolata', monospace !important;
		}
		article{
			min-height: calc(100vh - 200px);
		}
		footer{
    		position: relative;
    		margin: 0;
    		padding: 0px;
    		width: 100vw;
    		height: fit-content;
    		text-align: center;
    		color: white;
    		background-color: black;
    		vertical-align: bottom;
			margin-top: 128px;
		}
		.footer-links a{
			margin-left: 12px;
			margin-right: 12px;;
		}
		article table{
			border-spacing: 0px;
			border-collapse: separate;
			border: 1px solid #969696;
		}
		article th{
			text-align: center;
			background-color: #ebebeb;
		}
		article td:nth-child(1),article th:nth-child(1){
			white-space: nowrap;
		}
		article td,article th{
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			border: 0.5px solid #969696;
		}
		article img{
			max-width: 96%;
			height: auto;
			margin-left: 2%;
			border: 1px solid #000;
			border-radius: 3px;
			display: block;
			margin-top: 1rem;
			margin-bottom: 1rem;
			cursor: pointer;
		}
		article button{
			cursor: pointer;
			display: inline;
			border: unset;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 18px;
			border-radius: 5px;
		}
		article button.s-0{
			background-color: #a6a6a6;
			color: #fff;
		}
		article button.s-0:hover{
			background-color: #adadad;
		}


/*==================================================
　5-2-1 3本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.hbgrMenu{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background: unset;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

/*ボタン内側*/
.hbgrMenu span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #242424;
    width: 45%;
  }

.hbgrMenu span:nth-of-type(1) {
  top:15px; 
}

.hbgrMenu span:nth-of-type(2) {
  top:23px;
}

.hbgrMenu span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.hbgrMenu.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.hbgrMenu.active span:nth-of-type(2) {
  opacity: 0;/*真ん中の線は透過*/
}

.hbgrMenu.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;  
  padding: 30px;
}