@font-face{
  font-family: NotoSansJP;
  src: url("/article/assets/fonts/NotoSans-Regular.ttf");
}
@font-face{
  font-family: Inconsolata;
  src: url("/article/assets/fonts/Inconsolata-Regular.ttf");
}
html,
body {
  padding: 0px;
  margin: 0;
  font-size: 16px;
}
html,body,input,button,textarea,select{
  font-family: NotoSansJP;
}
header {
  z-index: 9999999;
  position: fixed;
  margin: 0;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid transparent;
  background-color: #f5f5f5;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}
.title {
  font-size: 2.2rem;
  font-weight: 600;
  vertical-align: middle;
  display: block;
  text-align: center;
}
article {
  padding-top: 4rem;
  width: calc(100% - 3rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 100vh;
  margin-top: 0;
  display: inline-block;
}
footer {
  height: fit-content;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
article h1 {
  font-size: 1.7rem;
  font-weight: 600;
}
article h2 {
  font-size: 1.4rem;
}
article h3 {
  font-size: 1rem;
}
article img{
  display: block;
}
article code{
  font-family: Inconsolata;
}
article table{
  border-collapse: collapse;
  border: 1px solid #000;
  padding: 0.25rem;
}
article table th,article table td{
  border: 1px solid #000;
  padding: 0.25rem;
}
article blockquote{
  margin-left: 0;
  padding-left: 1.5rem;
  position: relative;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
}
article blockquote::after{
  content:"";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0.25rem;
  height: 100%;
  background-color: #b0b0b0;
  border-radius: calc(infinity * 1px);
}
#theme {
  z-index: 99999;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  background-color: #bfbfbf;
  border-radius: 0.4rem;
}
#theme div{
  border-radius: 0.2rem;
  background-color: #bfbfbf;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 7.3rem;
  transition: 250ms;
}
#theme #option{
  height: 0px;
  overflow-y: hidden;
  margin-top: 0.2rem;
  transition: 250ms;
}
#theme:hover #option{
  height: 6.9rem;
}
#theme #option button:hover{
  background-color: #eeeeee;
}
#theme #option button:hover span{
  color: #8a8a8a;
}
#theme button {
  border-radius: 0.2rem;
  width: 100%;
  border: unset;
  background-color: unset;
  padding: 0.4rem;
  display: flex;
}
#theme button span{
  margin-top: 0.1rem;
  margin-left: 0.4rem;
  font-size: 1rem;
  color: #555555;
}
#theme button img{
  width: : 1.5rem;
  height: 1.5rem; 
}
#theme #selected{
  position: relative;
  background-color: #e0e0e0;
}
#theme #selected button span{
  color: #7a7a7a !important;
}
@media screen and (min-width: 100vh){
  article{
    width: 60vw;
    margin-left: 20vw;
  }
}
