<!DOCTYPE html>
<html lang="ja">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="https://kelpoftruth.com/articles/assets/css/articles.css">
</head>
<div id="scrollbar">
    <div id="scrolltrack"></div>
    <div id="scrolldialog" hidden></div>
</div>
<body hidden>
    {% include header.html %}
    <main>
        <article>
            <ul class="articles">
            {% for post in site.posts %}
            <li>
                <a href="/articles{{ post.url | prepend: baseurl }}">
                <h1>{{ post.title }}</h1>
                {% assign dates = {{post.date}} | split: " " %}
                {% assign date_detail = {{dates[0]}} | split: "-" %}
                <label class="date">{{date_detail[0]}}年{{date_detail[1]}}月{{date_detail[2]}}日</label>
                <ul class="tags">
                {% for tag in page.tags %}
                    <li class="tag"><a href="https://kelpoftruth.com/articles/tags?name={{tag}}">{{tag}}</a></li>
                {% endfor %}
                </ul>
                </a>
            </li>
            {% endfor %}
            </ul>
        </article>
        {% include footer.html %}
    </main>
</body>
<script src="https://kelpoftruth.com/articles/assets/js/script.js"></script>
</html>
