<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/article/assets/css/style.css">
    <link rel="stylesheet" id="css-theme" href="/article/assets/css/theme-system.css">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% include head-custom.html %}
  </head>
  <body>
    <header>
      <span class="title">Article</span>
      <div style="position: absolute;top: 1.5rem;right: 0px;">
      <!--<div id="theme">
        <div id="selected">
          <button><img src="system.svg"><span>System</span></button>
        </div>
        <div id="option">
          <button id="system"><img src="system.svg" alt="System"><span>System</span></button>
          <button id="light"><img src="light.svg" alt="Light"><span>Light</span></button>
          <button id="dark"><img src="dark.svg" alt="Dark"><span>Dark</span></button>
        </div>
      </div>
      </div>-->
    </header>
    <article>
      <h1>{{title}}</h1>
      <ul>
      {% for tag in page.tags %}
        <li>{{tag}}</li>
      {% endfor %}
      </ul>
      {{content}}
    </article>
    <footer>
      <p>
        Email address :
        <a href="mailto:kelpoftruth@gmail.com">kelpoftruth@gmail.com</a><br />
        Copyright © 2023 KelpOfTruth All Rights Reserved.
      </p>
  </body>
  <script>
    // 0: System 1: Light 2: Dark
    let theme=0;
    const ls=localStorage.getItem("theme");
    function aplyTheme(n){
      document.querySelector("#theme #option").style.pointerEvents="none";
      setTimeout(() => {
        document.querySelector("#theme #option").style.pointerEvents="all";
      }, 250);
      theme=n;
      localStorage.setItem("theme",theme);
      const selected=document.querySelector("#theme #selected");
      if(theme===0){
        document.querySelector("#css-theme").href="/article/assets/css/theme-system.css";
        selected.querySelector("img").src="/article/assets/img/system.svg";
        selected.querySelector("span").innerHTML="System";
        
      }else
      if(theme===1){
        document.querySelector("#css-theme").href="/article/assets/css/theme-light.css";
        selected.querySelector("img").src="/article/assets/img/light.svg";
        selected.querySelector("span").innerHTML="Light";

      }else
      if(theme===2){
        document.querySelector("#css-theme").href="/article/assets/css/theme-dark.css";
        selected.querySelector("img").src="/article/assets/img/dark.svg";
        selected.querySelector("span").innerHTML="Dark";
        
      }
    }
    if(ls!==null){
      theme=Number(ls);
      aplyTheme(theme);
    }else{
      aplyTheme(0);
    }
    console.log(theme);
    document.querySelector("#theme #system").addEventListener("click",()=>{aplyTheme(0)});
    document.querySelector("#theme #light").addEventListener("click",()=>{aplyTheme(1)});
    document.querySelector("#theme #dark").addEventListener("click",()=>{aplyTheme(2)});
  </script>
</html>
