<!DOCTYPE html>
<html lang="ja">
<head>
    {% include head.html %}
</head>
<div id="scrollbar">
    <div id="scrolltrack"></div>
    <div id="scrolldialog" hidden></div>
</div>
<body hidden>
    {% include header.html %}
    <main>
        <article>
            <ul class="articles">
            {% for post in site.posts %}
            <li>
                <a href="/articles{{ post.url | prepend: baseurl }}">
                <label>{{ post.title }}</label>
                <p>{{ post.description }}</p>
                </a>
            </li>
            {% endfor %}
            </ul>
        </article>
        {% include footer.html %}
    </main>
</body>
<script src="https://kelpoftruth.com/assets/script.js"></script>
</html>
