@media (prefers-color-scheme: light) {
  header {
    background-color: #bfbfbf;
    color: #000;
    border-color: #e2e2e2;
  }
  article {
    background-color: #fff;
    color: #080808;
  }
  footer {
    background-color: #dbdbdb;
    color: #1a1a1a;
  }
  footer a {
    color: #525252;
  }
  article a {
    color: #1b1b1b;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: #393939;
    color: #dfdfdf;
    border-color: #080808;
  }
  article {
    background-color: #090909;
    color: #ffffff;
  }
  footer {
    background-color: #3c3c3c;
    color: #e3e3e3;
  }
  footer a {
    color: #b7b7b7;
  }
  article a {
    color: #e2e2e2;
  }
}
